.site-head {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-head__nav-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.site-head__title-link {
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  color: var(--font-color-light);
}

.site-head__nav-link {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--font-color-light);
}

.site-head__nav-item:last-child {
  padding-left: 8px;
}

.brance {
  position: relative;
  top: -0.1em;
  left: 0;
}