:root {
    --bg-dark: #232556;
    --bg-btn: #ffD050;
    --bg-regular: #592EA9;
    --bg-dark-gray: #4C4C4C;
    --bg-medium-gray: #6D6E76;
    --bg-btn-hover:#EDC14A;
    --font-color-light: #FFFFFF;
    --font-color-medium: var(--bg-medium-gray);
    --font-color-dark: var(--bg-dark);
}

.field {
    width: 90%;
    max-width: 1282px;
    margin: 0 auto;
}

header {
    background-color: var(--bg-dark);
}

.btn {
    font-family: Sen;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 48px;
    color: var(--bg-dark);
    display: inline-block;
}

.btn-sb {
    background-color: var(--font-color-light);
}

.btn-yl {
    background-color: var(--bg-btn);
    transition: background-color 0.3s ease-in-out;
}

.btn-yl:hover {
    background-color: var(--bg-btn-hover);
}